.header {
  background-color: var(--primary-color);
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: var(--light-text);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-text span.rage {
  color: var(--secondary-color);
  margin-right: 0.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-link {
  color: var(--light-text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 0.5rem;
  }
  
  .nav-links {
    margin-top: 1rem;
  }
  
  .nav-links li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
