<div class="battle-display">
  <div class="round-header">
    <h3 class="round-title">
      <span class="round-number">{{ roundNumber }}</span>
      Round {{ roundNumber }}
    </h3>
    <p class="round-progress">{{ roundNumber }} of {{ totalRounds }}</p>
  </div>
  
  <div class="verses-container">
    <div class="verse-card" [ngClass]="getWinnerClass(round.rapper1_verse.rapper_name)" *ngIf="round.rapper1_verse">
      <div class="verse-header">
        <div class="verse-rapper-initial">{{ getInitial(round.rapper1_verse.rapper_name) }}</div>
        <div>
          <h4 class="verse-rapper-name">{{ round.rapper1_verse.rapper_name }}</h4>
        </div>
      </div>
      <p class="verse-text">{{ round.rapper1_verse.content }}</p>
    </div>
    
    <div class="verse-card" [ngClass]="getWinnerClass(round.rapper2_verse.rapper_name)" *ngIf="round.rapper2_verse">
      <div class="verse-header">
        <div class="verse-rapper-initial">{{ getInitial(round.rapper2_verse.rapper_name) }}</div>
        <div>
          <h4 class="verse-rapper-name">{{ round.rapper2_verse.rapper_name }}</h4>
        </div>
      </div>
      <p class="verse-text">{{ round.rapper2_verse.content }}</p>
    </div>
  </div>
  
  <div class="judge-container" *ngIf="!isJudging && !judgeResult">
    <button class="judge-btn" (click)="startJudging()">Judge This Round</button>
  </div>
  
  <div class="judge-container" *ngIf="isJudging && !judgeResult">
    <p class="judging-message">Judges are deliberating...</p>
  </div>
  
  <div class="judge-container" *ngIf="judgeResult">
    <div class="judge-result">
      <p>Round {{ roundNumber }} Winner: <strong>{{ round.winner }}</strong></p>
    </div>
  </div>
</div>
